/*

  Stylesheet
  white: ;              : #fff
  Header background:   : #4054B2;
  Indigo               : #3f51b5;
  Indigo (dark)               : #303f9f;
  Ligh blue               : #c5cae9;
  Pink               : #ff4081;
  Gray (Dark)               : #212121;
  Gray (medium)               : #727272;
  Gray (light)               : #b6b6b6;

*/
/***
    Base
*/

body{
	color: #212121;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5{

}

ol, ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{

}

p{

}

a{
	color: #ff4081;
}

/*
	sudo classes to anchors
*/

a:active, a:hover, a:focus{
	color: #212121;
}

  /***
      cover-banner
  */

  .cover-banner{
    background-color: #3f51b5;
    color: #fff; /* applies to text inside*/
/*
		margin: 0 auto;  enable us to center it
		max-width: 800px;
*/
    margin-bottom: 40px;
		padding: 20px 0;
    text-align: center;
  }

  /***
      logo
  */
  .logo{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /***
      flask
  */
.flask-item{
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.flask-link{
  color: #3f51b5;
	display: block; /* by default links are inline so it wont display margin */
  font-size: 24px;
	margin-bottom: 10px;
}

.flask-meta-item{
	display: inline;
	margin-right: 15px;
}

/*
	flask container
*/

/*
we add class container to both the content and the logo instead
.content{
	max-width: 800px;
	margin: 0 auto;
	
}
*/

.container{
	margin: 0 auto; /* enable us to center it*/
	max-width: 800px;
}

/*
	States
*/
.is-liked{
	animation: flash 2s;
}

/*
	Animation
*/
@keyframes flash{
	from, 50%, to{
		opacity: 0;
	}
	25%, 75%{
		opacity: 1;
	}
}